*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main-div{
    width:100%;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
 
}
.main-div .center-div{
        width:30%;
        height: 75vh;   
        background-color: burlywood;
        text-align: center;
        padding: 10px 20px;
        position: relative;
        transition: all 0.5s;
    overflow: hidden;
        
}
.section-btn button{
    padding:10px 20px;
    background-color: brown;
    color:#fff;
    display: inline-block;
    margin:15px 5px;
}
.section-title{
    background-color: chartreuse;
    padding: 5px 0px;
    transition: all 0.5s;
}
.section-details h5{
    text-align:center;
}
.section-details ul{
    padding-left: 10px;
    text-align: left;   
}
.section-details h3{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: cyan;
    padding: 5px 0px;
}
.about h5{
    background-color: brown;
    border-radius: 20px;
    padding: 5px 0px;
    color:#fff;
}
.know-percentage{
    padding:10px 0px;
    transition: all 0.5s;
}


.section{
    position:absolute;
    width:100%;
    height: 100%;
    bottom: 0px;
    top:0px;
    left:100%;
    background-color: rgb(177, 223, 13);
    transition: all 0.5s;
}
.section .display,.value-section .display{
    width:70%;
    padding: 13px 20px;
   
    margin:15px 10px;
    border-radius: 15px;
    background-color: honeydew;
    outline: none;
    border: none;
    border:2px groove greenyellow;
}
.section .input,.value-section .input{
    width:60%;
    padding:10px 10px;
    border-radius: 5px;
    background-color: white;
    outline: none;
    border: none;
    margin:10px 10px;
}

.section .click-btn,.value-section .click-btn{
    border-radius: 15px;
    background-color: brown;
    color:#fff;
}
.section h5,.value-section h5{
    color:black;
}
.value-section{
    
    position:absolute;
    width:100%;
    height: 100%;
    bottom: 0px;
    top:0px;
    right:100%;
    background-color: rgb(177, 223, 13);
    transition: all 0.5s;
}
.value-section button,.section button{
    padding: 10px 20px;
    background-color: gray;
    color:white;
    margin:10px 10px;
}
.value-section .output{
    width:70%;
    height:50px;
    border:1px groove blue;
    margin:auto;
    text-align: center;
    color:greenyellow;
    background-color: black;
    border-radius: 5px;
}
